<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
  <div class="container" style="margin-top:30px ">
    <div class="row" align="center">
    <table class="table table-bordered">
      <thead style="border: blue;">
        <tr>
          <th style="border-bottom: 1px solid #ddd;">Title</th>
          <th style="border-bottom: 1px solid #ddd;">Note</th>
        </tr>
      </thead>
      <tbody>
        {% for note in notes %}
          <tr>
            <td style="border-bottom: 1px solid #ddd;">{{ note.title }}</td>
            <td style="border-bottom: 1px solid #ddd;">{{ note.note }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>


    {% if notes.has_other_pages %}
      {% if notes.has_previous %}
          <a class="btn btn-outline-info mb-4" style="text-align: center;" href="?page=1" >First</a>
          <a class="btn btn-outline-info mb-4" style="text-align: center;" href="?page={{ notes.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in notes.paginator.page_range %}
          {% if notes.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > notes.number|add:'-3' and  num < notes.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
      {% endfor %}

      {% if notes.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ notes.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ notes.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}

  </div>


</body>
</html>